---
import Layout from "../layouts/Layout.astro";
import File from "../components/File.astro";
import GoBack from "../components/goBack.astro";
---

<Layout title="Descarga tus archivos .cmd">
  <GoBack />
  <main class="flex flex-col">
    <h1>Descarga tus malware necesarios 🎮</h1>

    <div class="grid grid-cols-3 gap-y-16">
      <File
        fileId="1"
        title="baby echo"
        danger="seguro"
        behavior="Inicializa un cmd y muestra un mensaje de bienvenida"
      />

      <File
        fileId="2"
        title="chorme cmd"
        danger="seguro"
        behavior="Abre chrome si es que lo tiene instalado"
      />

      <File
        fileId="3"
        title="¿Desktop?"
        danger="severo"
        behavior="Elimina de forma recursiva todo lo que se encuentre el escritorio - 'Desktop'"
      />

      <File
        fileId="5"
        title="password Theft.v1"
        danger="seguro"
        behavior="abre un archivo que contiene una contraseña"
      />

      <File
        fileId="5"
        title="password theft.v2"
        danger="fatal"
        behavior="consigue todas las contraseñas del sistema"
      />
    </div>
  </main>
  <div class="h-48">

  </div>
</Layout>
