---
import Layout from "../layouts/Layout.astro";
import GoBack from "../components/goBack.astro";
---

<Layout title="Guía de cmd">
    <GoBack />
    <div class="h-full w-full relative">
        <h1>En progreso...</h1>

        <p class="absolute bottom-3">Agredezco tu pacienca, pronto estará listo 😊</p>
    </div>
    

</Layout>