---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="flex flex-col justify-center items-center align-middle text-text"
  >
    <h1 class="h1s">
      Bienvenido a mi p치gina destinada a realizaci칩n de c칩digo en cmd游때
    </h1>
    <p class="ps">
      ->
      <a
        class="link"
        title="Wikipedia | CMD"
        href="https://es.wikipedia.org/wiki/S%C3%ADmbolo_del_sistema_de_Windows"
        target="_blank">cmd</a
      > abreviatura de "Command Prompt" o "S칤mbolo del sistema" en espa침ol, es una
      interfaz de l칤nea de comandos disponible en sistemas operativos Windows. Proporciona
      a los usuarios una forma de interactuar con el sistema operativo mediante comandos
      de texto en lugar de una interfaz gr치fica de usuario.
    </p>

    <article class="text-3xl mt-6 flex place-content-around min-w-full select-none">
      <a href="/donwload" class="a-button"> Lista de archivos ".cmd" </a>
      <a href="/pages/1" class="a-button"> Gu칤a de cmd </a>
    </article>
  </main>
</Layout>

