---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CMD WEB 游댠">
  <main
    class="flex flex-col justify-center items-center align-middle text-text"
  >
    <h1 class="h1s">
      Prueba el potencial de cmd 游눤
    </h1>
    <p class="ps">
      ->
      <a
        class="link"
        title="Wikipedia | CMD"
        href="https://es.wikipedia.org/wiki/S%C3%ADmbolo_del_sistema_de_Windows"
        target="_blank">cmd</a
      > abreviatura de "Command Prompt" o "S칤mbolo del sistema" en espa침ol, es una
      interfaz de l칤nea de comandos disponible en sistemas operativos Windows. Proporciona
      a los usuarios una forma de interactuar con el sistema operativo mediante comandos
      de texto en lugar de una interfaz gr치fica de usuario. Este miniproyecto desea transmitir lo potente que puede ser si se tiene conociemiento en el,
      adem치s cmd se puede comprender con facilidad "casi siempre 游땐"
    </p>

    <article class="text-3xl mt-6 flex place-content-around min-w-full select-none">
      <a href="/donwload" class="a-button" title="Descarga y prueba archivos .cmd, se recomienda leer la descripci칩n.."> Lista de archivos ".cmd" </a>
      <a href="/guide" class="a-button" title="Peque침a gu칤a de cmd"> Gu칤a de cmd </a>
    </article>
  </main>
</Layout>

<style>

</style>