---
const { title, danger, behavior, fileId} = Astro.props;
---

<div
  class="mt-8 min-w-[160px] max-w-[160px] min-h-[128px] overflow-clip flex flex-col p-2 relative "
>
  <h1 class="mt-3 text-wrap mr-3">{title}</h1>

  <span
    id="danger"
    class="w-fit px-2 rounded-lg select-none absolute right-2 top-1 font-bold"
    >{danger}</span
  >

  <button class="" id="show-behavior" title="Ver comportamiento"> ?? </button>

  <p class="hidden" id="behavior-p">{behavior}</p>

  <a href={`files/${fileId}`}>
    
    <img class="size-6 absolute top-0 " src="download.svg" alt="Descarga">
  </a>
</div>

<style>
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
  }

  :root {
    --text: #ebe9fc;
    --background: #010104;
    --primary: #3a31d8;
    --secondary: #020024;
    --accent: #0600c2ad;
  }

  *::selection {
    background-color: #0600c2ad;
    color: white;
  }

  body {
    color: var(--text);
    height: 100dvh;
    width: auto;
    background-color: var(--background);
  }

  span {
    font-size: 11px;
  }

  h1 {
    font-size: 25px;
    padding: 0;
    text-align: start;
  }

  p {
    font-size: 12px;
    color: #ebe9fcb9;
    animation: show 0.3s ease-in-out;
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  button {
	width: fit-content;
    border-bottom: solid 2px var(--primary);
    font-size: 15px;
  }
</style>

<script>



  const BUTTON_SHOW = document.querySelectorAll("#show-behavior");
  const SPAN_BEHAVIOR = document.querySelectorAll("#danger");
  SPAN_BEHAVIOR.forEach((x) => {
    console.log(x.textContent);

    if (x.textContent === "seguro") {
      // @ts-ignore:
      x.style.backgroundColor = "rgba(0, 255, 0, 0.7)";
    }
    if (x.textContent === "severo") {
      // @ts-ignore:
      x.style.backgroundColor = "rgba(255, 240, 0, 0.7)";
    }
    if (x.textContent === "fatal") {
      // @ts-ignore:
      x.style.backgroundColor = "rgba(255, 0, 0, 0.7)";
    }
  });

  // Funci칩n para mostrar el parrafo con id behavior-p
  BUTTON_SHOW.forEach((button) => {
    button.addEventListener("click", () => {
      // Obtiene el parrafo con id behavior-p
      const behaviorParagraph = button.nextElementSibling; // Obtiene el siguiente hermano del bot칩n, que es el p치rrafo con id behavior-p

      // Obtiene el texto dentro del p치rrafo
      const behavior = behaviorParagraph?.textContent;
      behaviorParagraph?.classList.toggle("hidden");
      console.log(behavior);
    });
  });
</script>
